.card {
    position: relative;
}

.card__image {
    height: 413px;
    margin-bottom: 12px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.card__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.card__title {
    font-size: 20px;
    font-weight: 500;
    line-height: 120%;
    color: #212121;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 353px;
}

.card__delete-button {
    background-image: url(../images/spots-images/Delete.svg);
    background-color: transparent;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
}

.card__delete-button:hover {
    background-image: url(../images/spots-images/DeleteHover.svg);
}

.card__like-button {
    background-image: url(../images/spots-images/LikeIcon.svg);
    width: 23px;
    height: 20px;
    border: none;
    background-color: transparent;
    opacity: 40%;
    cursor: pointer;
    background-size: contain; 
    background-position: center; 
    background-repeat: no-repeat;
}

.card__like-button:hover {
    opacity: 100%;
}

.card__like-button_active {
    background-image: url(../images/spots-images/Heart.svg);
    opacity: 1;
}

.card__like-button_active:hover {
    opacity: .4;
}

@media screen and (max-width: 627px) {
    .card__image{
        height: 288px;
    }

    .card__title {
    max-width: 235px;
    }
}